*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: justify;
}

body {
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  background: url("images/background1.png");
}

/* ---- utility classes ---- */

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* ---- navbar ---- */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #d29aff5f;
  width: 100%;
  background: #212529;
  height: 60px;
  z-index: 12;
  position: fixed;
  top: 0;
}

.navbar-container {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mtv-navbar {
  display: flex;
  position: relative;
  object-position: top;
  margin-top: 20px;
}

.menu-items {
  order: 5;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.8rem;
}

.menu-items a {
  text-decoration: none;
  color: #2ed3cb;
  font-size: 25px;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #ffe452;
  transition: color 0.3s ease-in-out;
}

/* ---- User Access ---- */

.input-container {
  position: relative;
  margin: 50px auto;
  width: 200px;
}

.input-container input[type="text"] {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: #333;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #333;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline {
  transform: scaleX(1);
}

/* ---- Body Flexbox ---- */

.layout-columns {
  display: flex;
  justify-content: space-around;
  margin: 100px 20px 20px 20px;
  gap: 1em;
  height: 50%;
}

/* ---- column-1 ---- */

.column-1 {
  background: rgba(46, 211, 203, 0.94);
  padding: 20px 20px 20px 30px;
  margin: 0 auto;
  width: 25%;
  height: 1740px;
  border-radius: 10px;
  box-shadow: 2px 2px 15px #0b5955;
}

.title-lasted {
  text-align: center;
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.title-listened {
  text-align: center;
  font-size: 30px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* ---- Music Player ---- */

.music {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.player {
  position: relative;
  box-sizing: content-box;
  width: 80%;
  min-height: 100px;
  background: rgb(93, 93, 209, 0.8);
  box-shadow: -5px -5px 15px #341d8566, 10px 10px 15px rgba(0, 0, 0, 0.1),
    inset 5px 5px 15px rgba(122, 134, 246, 0.1);
  padding: 30px 30px;
  margin-right: 10px;
  border-radius: 10px;
}

.title {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  display: grid;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.evanescence {
  width: 70%;
  display: block;
  margin: 0 auto;
  border: 50%;
  border-radius: 50%;
  margin-bottom: 20px;
}

.btns {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btns span {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  background: #f77db9;
  justify-content: center;
  align-items: center;
  color: #ffe452;
  cursor: pointer;
  box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.1),
    0px 5px 10px rgba(0, 0, 0, 0.1), 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.btns span:active {
  color: #35409f;
  box-shadow: inset 0 -7px 5px rgba(0, 0, 0, 0.1),
    inset 0 5px 10px rgba(0, 0, 0, 0.15);
}

.btns span.play-pause {
  width: 65px;
  height: 65px;
}

.btns span ion-icon {
  font-size: 2em;
}

.btns span.play-pause ion-icon {
  font-size: 3em;
}

/* ---- End Music Player ---- */

.songs-list {
  overflow: scroll;
  height: 75%;
}

ul .list-listened {
  list-style: none;
  margin-left: 5px;
  border: 1px solid #1b817c;
  background: #14a8a169;
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px 10px 10px 15px;
}

ul .list-listened:active {
  background: #0c767170;
  width: 95%;
  font-size: 15px;
}

/* ---- column-2 ---- */

.column-2 {
  background: rgb(247, 125, 185, 0.94);
  width: 50%;
  height: 1740px;
  padding: 20px 20px 20px 30px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 1px 1px 15px #5e1a3ce4;
}

.news {
  border: 1px solid #b03e77;
  background: rgba(241, 122, 182, 0.5);
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px;
}

.news:hover {
  background: rgba(209, 79, 144, 0.5);
}

.column-2 h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}

hr {
  margin: 20px auto;
  width: 100%;
  height: 1px;
  background-color: #b03e776e;
  border: none;
}

.column-2 p {
  margin-bottom: 15px;
  font-size: 20px;
}

.column-2 button {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  background-color: #5d5dd1;
  border: 3px solid #2ed3cb;
  padding: 12px;
  box-shadow: 0 1px 1px 2px #1b7b7633;
  border-radius: 10px;
}

.column-2 a {
  text-decoration: none;
  color: #2ed3cb;
  cursor: pointed;
}

.column-2 a:active {
  text-decoration: none;
  color: #5d5dd1;
}

.column-2 button:active {
  background: #2ed3cb;
  border: 3px solid #5d5dd1;
}

/* ---- column-3 ----- */

.column-3 {
  background: rgb(255, 229, 82, 0.94);
  padding: 20px 20px 20px 30px;
  margin: 0 auto;
  width: 25%;
  height: 1740px;
  border-radius: 10px;
  box-shadow: 1px 1px 15px #6e621c;
}

.column-3 h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.together-1 {
  padding: 0 auto;
  margin: 0 auto;
}

.together-2 {
  padding: 0 auto;
  margin: 0 auto;
  width: 185px;
}

.test {
  margin: 10px 0px 15px;
}

.answer-test {
  margin-left: 35px;
}

.column-3 button {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  background-color: #5d5dd1;
  border: 3px solid #2ed3cb;
  padding: 12px;
  box-shadow: 0 1px 1px 2px #1b7b7633;
  border-radius: 10px;
}

.column-3 a {
  text-decoration: none;
  color: #2ed3cb;
  cursor: pointed;
}

.column-3 a:active {
  text-decoration: none;
  color: #5d5dd1;
}

.column-3 button:active {
  background: #2ed3cb;
  border: 3px solid #5d5dd1;
}

/* ---- rows ---- */

.layout-rows {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px 20px 20px 20px;
  border-radius: 5px;
}

.row-1 {
  background: rgb(88, 98, 189, 0.94);
  height: 450%;
  padding: 20px 20px 20px 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 15px #151b57;
}

.competition {
  background: rgba(36, 46, 131, 0.318);
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.competition:hover {
  background: rgba(36, 46, 131, 0.318);
  width: 99%;
  font-size: 15px;
}

.row-1 h1 {
  margin-bottom: 10px;
  font-size: 30px;
}

.row-1 p {
  margin-bottom: 20px;
  font-size: 20px;
}

.prize-list {
  margin-left: 20px;
  font-size: 20px;
}

.button-vote {
  display: block;
  margin: 20px auto;
  font-size: 20px;
  background-color: #ffe452;
  border: 3px solid #e77964;
  padding: 12px;
  box-shadow: 0 1px 1px 2px #1b7b7633;
  border-radius: 10px;
}

.link-vote {
  text-decoration: none;
  color: #e77964;
}

.link-vote:active {
  text-decoration: none;
  color: #ffe452;
  cursor: pointed;
}

.button-vote:active {
  background: #e77964;
  color: #ffe452;
  border: 3px solid #ffe452;
}

.row-2 {
  background: rgba(231, 122, 100, 0.94);
  height: 40%;
  padding: 20px 20px 20px 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 15px #4a1409;
}

/* ---- Videos ---- */

/* ---- Videos ---- */

/* ......../ media query /.......... */

@media (max-width: 824px) {
  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: flex;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .mtv-navbar {
    display: flex;
    position: relative;
    object-position: top;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #2ed3cb;
  }

  .navbar-container .hamburger-lines .line:active {
    color: #ffe452;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 70px;
    background: #212529;
    height: 45vh;
    max-width: 250px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -70px;
    padding-left: 60px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 5px 0px #d29aff61;
  }

  .navbar .menu-items li {
    margin-bottom: 2rem;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

  .column-1 {
    display: none;
  }

  .column-2 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .column-3 {
    display: none;
  }
}

@media (max-width: 424px) {
  .mtv-navbar {
    display: flex;
    position: relative;
    object-position: top;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
  }

  .navbar .menu-items {
    height: 50vh;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
  }

  .column-1 {
    display: none;
  }

  .column-2 {
    width: 100%;
  }

  .column-3 {
    display: none;
  }
}
