:root {
  --color-purple: #4551c7;
  --color-yellow: #fee452;
  --color-pink: #fd79ad;
  --color-turquoise: #30d2ca;
  --color-orange: #f07e66;
  --color-black: #212529;
  --color-white: #fff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", Verdana, sans-serif;
  background: url("../images/background1.png");
}

ul,
li {
  list-style: none;
}

/* ---- navbar ---- */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  width: 100%;
  background: var(--color-black);
  height: 60px;
  z-index: 1;
  position: fixed;
  top: 0;
}

.navbar-container {
  height: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.mtv-navbar {
  display: flex;
  position: relative;
  object-position: top;
  margin-top: 1rem;
  filter: drop-shadow(3px 3px 5px #292929);
}

.menu-items {
  order: 5;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.8rem;
}

.menu-items a {
  text-decoration: none;
  color: var(--color-yellow);
  font-size: 1.7rem;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: var(--color-turquoise);
  transition: color 0.1s ease-in-out;
}

/* ---- Welcomming ---- */

.welcome-container {
  margin-top: 60px;
  position: relative;
}

.welcome-wallpapper-images {
  animation: slideToDown 1.2s ease-in-out;
}

/*@keyframes slideToDown {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0);
  }
}*/

.img-wallpapper-lg {
  max-width: 100%;
  height: auto;
}
.img-wallpapper-sm {
  display: none;
}

/* ---- Login Form ---- */

.login-form {
  border-top: 2px solid #ffffff75;
  border-left: 2px solid #ffffff75;
  box-shadow: 5px 5px 12px #00000035;
  background: #ffffff25;
  border-radius: 1px;
  overflow: hidden;
  backdrop-filter: blur(15px);
  margin: 1rem;
  padding: 0.3rem;
  color: #fff;
  text-shadow: 2px 2px #323d9d;
  font-weight: 600;
  animation: slideToRight 1.5s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 6px;
}

/*@keyframes slideToRight {
  from {
    transform: translateX(100vh);
  }
  to {
    transform: translateX(0);
  }
}*/

.form-one {
  display: flex;
  flex-direction: row;
}

input {
  background-color: #2ed3cbca;
  padding: 3px 0px;
  width: 10rem;
}

input::placeholder {
  color: var(--color-black);
  padding-left: 3px;
  font-family: "Verdana", Tahoma, sans-serif;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.login-button,
.signup-button {
  color: var(--color-white);
  font-weight: 600;
  text-shadow: 2px 2px 2px var(--color-black);
  margin: 0rem 1rem;
}
.login-button {
  background-color: var(--color-purple);
  padding: 0.3rem 0.8rem;
}

.signup-button {
  background-color: var(--color-turquoise);
  padding: 0.3rem 0.8rem;
}

.signup-button a {
  text-decoration: none;
  color: var(--color-white);
}

.join-text a {
  font-size: 1.8em;
  margin-left: auto;
  margin-right: auto;
  animation: lightCrew 5s ease;
  animation-iteration-count: infinite;
  text-shadow: 3px 3px 2px #161b49;
  text-decoration: none;
}

@keyframes lightCrew {
  from {
    color: var(--color-turquoise);
  }
  25% {
    color: var(--color-purple);
  }
  50% {
    color: var(--color-pink);
  }
  75% {
    color: var(--color-yellow);
  }
  to {
    color: var(--color-orange);
  }
}

/* --- Video Title --- */

.banner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem;
}

.banner-container img {
  width: 100%;
}
.video-text-wrapper {
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  border: 2px solid #ffffff75;
  box-shadow: 5px 5px 12px #00000035;
  backdrop-filter: blur(15px);
}

.video-text-container {
  display: inline-block;
  justify-content: center;
}

video {
  width: 98vw;
  height: auto;
}

.clipped-video {
  -webkit-clip-path: url(#text-overlay);
  clip-path: url(#text-overlay);
}

svg {
  width: 99vw;
  position: absolute;
  display: block;
}

svg text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100vh;
  font-size: clamp(7rem, 15vw, 17vw);
  font-weight: 800;
}

/* --- Portrait Cards --- */

.flip-container {
  position: relative;
  overflow: scroll;
  white-space: nowrap;
  padding: 0rem 2rem;
  border-bottom: 2px solid #ffffff75;
  box-shadow: 5px 5px 12px #00000035;
  backdrop-filter: blur(15px);
}

.flip-container-cards {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(8, 1fr);
  width: 100vw;
  height: auto;
  margin: 7rem 0rem;
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6,
.card-7,
.card-8 {
  width: 25vh;
  min-width: 15vh;
  height: 35vh;
  perspective: 1000px;
  flex-shrink: 0;
  scroll-snap-align: start;
  margin: 0rem 2rem 0rem 3rem;
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card-1:hover .card-inner,
.card-2:hover .card-inner,
.card-3:hover .card-inner,
.card-4:hover .card-inner,
.card-5:hover .card-inner,
.card-6:hover .card-inner,
.card-7:hover .card-inner,
.card-8:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  padding: 1.5rem;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #30d2ca);
  border: 3px solid var(--color-black);
  border-radius: 1px;
  transform: rotateY(0deg);
}

.portrait {
  max-width: 100%;
  height: auto;
  position: relative;
  box-shadow: 1px 1px 10px var(--color-purple);
}

.portrait-text {
  margin-bottom: 0.8em;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  color: var(--color-black);
  text-shadow: 1px 1px 2px var(--color-purple);
}

.card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-black);
  text-shadow: 2px 2px 2px var(--color-purple);
  background-image: linear-gradient(144deg, #30d2ca, #5b42f3 50%, #af40ff);
  border: 3px solid var(--color-black);
  border-radius: 1px;
  transform: rotateY(180deg);
}

/* ---- Tickes Banner ---- */

.container-onsale {
  background-color: var(--color-yellow);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 5rem 0rem 5rem 0rem;
  padding: 1.5rem 0rem;
  gap: 6rem;
}

.text-onsale {
  position: relative;
  display: inline-block;
  font-weight: 800;
  font-size: 2rem;
  color: var(--color-purple);
  -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  animation: jumperText 1s ease infinite;
}

@keyframes jumperText {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-20px);
  }
  40%,
  100% {
    transform: translateY(0px);
  }
}

.button-onsale {
  background-color: var(--color-purple);
  color: var(--color-turquoise);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  text-shadow: 2px 2px 2px #161b49;
}

.button-onsale:hover {
  color: var(--color-purple);
  background-color: var(--color-turquoise);
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* ---- Grid Content --- */

/*.wrapper-grid {
  border: 2px solid #ffffff75;
  border-radius: 1px;
  backdrop-filter: blur(15px);
  padding: 0.3rem;
  display: flex;
}*/

.container-grid {
  margin: 1rem 1rem;
  display: grid;
  height: 150rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(4rem, 0.17fr) minmax(10rem, 1fr) 1fr 1fr 1fr;
  grid-gap: 1rem;
  grid-template-areas:
    "header-grid header-grid header-grid header-grid"
    "sidebar-grid main-grid main-grid main-grid"
    "sidebar-grid content-grid-1 content-grid-1 content-grid-1"
    "sidebar-grid content-grid-2 content-grid-2 content-grid-3"
    "sidebar-grid footer-grid footer-grid footer-grid";
}

.container-grid h1 {
  color: var(--color-white);
  font-size: 2rem;
  text-align: center;
  text-shadow: 2px 2px 3px var(--color-black);
}

/* Header */

.header-grid {
  grid-area: header-grid;
  height: 9vh;
  background-color: var(--color-black);
  padding: 1rem;
  text-align: center;
  color: var(--color-white);
  font-weight: 800;
  font-size: 3rem;
}

/* Main */

.main-grid {
  grid-area: main-grid;
  overflow: auto;
  padding: 1rem 2rem;
  border: 2px solid #ffffff75;
  box-shadow: 5px 5px 12px #00000035;
  backdrop-filter: blur(15px);
}

.main-grid-news {
  margin: 2rem 0rem;
  padding: 2rem;
  background-color: var(--color-purple);
  box-shadow: 5px 5px 10px var(--color-black);
}

.main-grid-news:hover {
  transform: scale(1.05);
  transition: all 0.1s ease;
}

.main-grid-news h2 {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-shadow: 2px 2px 5px #323d9d;
}

.main-grid-news p {
  color: var(--color-white);
  line-height: 2;
}

/* Sidebar */

.sidebar-grid-wrapper {
  /*
  display: grid;
  height: calc(100% - 10rem);
  grid-template-rows: 1fr 1fr;*/
  display: flex;
  flex-direction: column;
}

.sidebar-grid {
  grid-area: sidebar-grid;
  padding: 1rem 1rem 2rem 1rem;
  border: 2px solid #ffffff75;
  box-shadow: 5px 5px 12px #00000035;
  backdrop-filter: blur(15px);
  overflow: auto;
}

.sidebar-grid h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.container-chat {
  border: 2px solid var(--color-black);
  padding: 1rem 0.5rem;
  background-color: var(--color-turquoise);
  margin-bottom: 1rem;
}

.container-chat h3 {
  color: var(--color-white);
  text-align: end;
  text-shadow: 2px 2px 5px var(--color-black);
}
.comments-section {
  height: 35vw;
  overflow: auto;
  margin: 1rem 0rem;
  background-size: 300px 300px;
  border: 2px solid var(--color-black);
  background-color: var(--color-black);
  color: var(--color-white);
}

.comments-wrap {
  padding: 0.5rem;
}

.comments-wrap h4 {
  margin-top: 0.5rem;
}

.comments p {
  margin-bottom: 0.5rem;
}

.space-chat-section textarea {
  width: 100%;
  height: 10vh;
  clear: both;
  background-color: var(--color-black);
  color: var(--color-white);
}

.reply-button {
  background-color: var(--color-purple);
  color: var(--color-white);
  font-weight: 600;
  padding: 0.4rem 0.8rem;
  margin: 0.5rem 0rem;
  width: 100%;
}

.container-off-topic {
  color: var(--color-white);
  text-align: center;
  margin-bottom: 1rem;
  background-color: var(--color-black);
  border: 2px solid var(--color-black);
  overflow: auto;
  white-space: wrap;
  height: 50%;
}

.off-topics {
  background-color: var(--color-turquoise);
  color: var(--color-black);
  margin: 0.5rem;
}

.off-topics h4 {
  margin: 0.3rem;
  padding: 0.3rem 0rem;
}

.off-topic-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.off-topic-links a {
  text-decoration: none;
  color: var(--color-purple);
}

/* Container 1 */

.content-grid-1 {
  grid-area: content-grid-1;
  padding: 1rem 1rem;
  border: 2px solid #ffffff75;
  box-shadow: 5px 5px 12px #00000035;
  backdrop-filter: blur(15px);
}

.interview-section {
  margin: 1rem 0rem;
}

.eva-interview {
  border-radius: 50%;
  float: right;
  margin: 2rem 1rem 0rem 2rem;
  padding: 0.8rem;
  background-color: var(--color-purple);
  filter: drop-shadow(5px 5px 10px #292929);
  animation: beat 0.25s infinite alternate;
  transform-origin: center;
}

@keyframes beat {
  to {
    transform: scale(1.05);
  }
}

.interview-text {
  margin: 0rem 1rem;
  padding: 2rem;
  background-color: var(--color-yellow);
  box-shadow: 5px 5px 10px var(--color-black);
  overflow: auto;
  font-weight: 500;
}

.interview-text h2 {
  font-size: 2rem;
  text-shadow: 2px 2px 5px var(--color-purple);
}

.interview-text p {
  color: var(--color-black);
  text-align: justify;
  line-height: 2;
  margin-bottom: 1rem;
}

.interview-link p,
.interview-link a {
  text-align: end;
  color: var(--color-purple);
}

/* Container 2 */

.content-grid-2 {
  grid-area: content-grid-2;
  padding: 1rem;
  border: 2px solid #ffffff75;
  box-shadow: 5px 5px 12px #00000035;
  backdrop-filter: blur(15px);
}

.music-list-section ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
  padding: 1rem;
  height: 40vh;
  background-color: #fd79aeb6;
  box-shadow: 5px 5px 10px var(--color-black);
  border-radius: 2px;
}

.music-list-section li {
  font-weight: 600;
}
/* Container 3 */

.content-grid-3 {
  grid-area: content-grid-3;
  border: 2px solid #ffffff75;
  box-shadow: 5px 5px 12px #00000035;
  backdrop-filter: blur(15px);
  height: auto;
}

.content-grid-3 h1 {
  margin: 1rem;
}

.container-giveaway {
  overflow: auto;
  height: 35vh;
  background-color: var(--color-orange);
  box-shadow: 5px 5px 10px var(--color-black);
  padding: 1rem 0.9rem;
  margin: 1rem 2rem 2rem 2rem;
  font-weight: 500;
}

.container-giveaway b {
  margin-bottom: 1rem;
}

/* Footer Grid */

.footer-grid {
  grid-area: footer-grid;
  padding: 1rem 2rem 2rem 2rem;
  border: 2px solid #ffffff75;
  box-shadow: 5px 5px 12px #00000035;
  backdrop-filter: blur(15px);
}

.footer-grid h1 {
  margin-bottom: 3rem;
}

.container-videoclip {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.living-img {
  padding: 1rem;
}

.wrapper-article-videoclip {
  background-color: var(--color-yellow);
  box-shadow: 5px 5px 10px var(--color-black);
}

.article-videoclip {
  padding: 1rem 2rem;
  overflow: auto;
  height: 25vh;
}

.article-videoclip p {
  font-weight: 500;
  text-align: justify;
  margin-bottom: 1;
}

.report-link {
  color: var(--color-black);
  text-align: justify;
  line-height: 2;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 2rem;
}

.report-link p,
.report-link a {
  color: var(--color-purple);
}

/* ---- Brand Section ---- */

.container-brand {
  display: block;
  padding: 10rem 0rem;
  margin: 10rem 5rem;
  overflow: hidden;
  background-color: var(--color-purple);
  border: 5px solid var(--color-black);
  border-radius: 1px;
  box-shadow: 10px 10px 20px var(--color-black);
}

.inner-up-brand,
.inner-down-brand {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  animation: translateBrand 14s infinite;
  animation-timing-function: linear;
  filter: drop-shadow(5px 5px 10px #292929);
}

@keyframes translateBrand {
  0% {
    transform: translateX(1300px);
  }
  100% {
    transform: translateX(-2500px);
  }
}

.inner-up-brand {
  margin-bottom: 10rem;
}

.item-brand {
  width: 33rem;
  height: auto;
  padding: 0rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---- Footer ---- */

.footer-information {
  max-width: 100%;
  height: 30vh;
  background: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 600;
  font-size: 1.3rem;
}

.footer-sign {
  color: var(--color-white);
}

.link-git,
.link-hosted {
  text-decoration: none;
  color: var(--color-turquoise);
}

.link-git:hover,
.link-hosted:hover {
  color: var(--color-yellow);
}

.footer-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
}

.footer-subscribe-container {
  display: flex;
  flex-direction: column;
}

.footer-subscribe-container h2 {
  color: var(--color-white);
}

.footer-menu-link {
  text-decoration: none;
  color: var(--color-white);
  line-height: 2;
}

.footer-subscribe-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.footer-subscribe-container input {
  margin-right: 0.5rem;
  padding: 0.4rem;
  width: 20rem;
}

.footer-subscribe-container button {
  font-size: 1rem;
  font-weight: 700;
  color: #ff7576;
  background-color: var(--color-black);
  box-shadow: 1px 1px 5px var(--color-purple);
  border: none;
  padding: 0.4rem 1rem;
  position: relative;
  border-radius: 9px;
  transform: scale(var(--s, 1)) perspective(600px) rotateX(var(--rx, 0deg))
    rotateY(var(--ry, 0deg));
  perspective: 600px;
  transition: transform 0.1s;
}

.sp {
  background: linear-gradient(
    90deg,
    #866ee7,
    #ea60da,
    #ed8f57,
    #fbd41d,
    #2cca91
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: block;
}

.footer-subscribe-container button:active {
  transition: 0.3s;
  transform: scale(0.93);
}

.footer-menu-link:hover {
  color: var(--color-yellow);
}

/* ---- Media Query ---- */

@media (max-width: 150rem) {
  .container-grid {
    height: 230vh;
  }
}

@media (min-width: 112rem) {
  @keyframes translateBrand {
    0% {
      transform: translateX(1500px);
    }
    100% {
      transform: translateX(-2800px);
    }
  }

  .container-grid {
    height: 200vh;
  }
  .footer-grid h1 {
    margin-bottom: 1rem;
  }

  .container-videoclip {
    flex-direction: row;
    align-items: center;
  }
}

@media (max-width: 78rem) {
  .container-grid {
    height: 250vh;
  }
}

@media (max-width: 48rem) {
  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: flex;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .mtv-navbar {
    display: flex;
    position: relative;
    object-position: top;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #2ed3cb;
  }

  .navbar-container .hamburger-lines .line:active {
    color: #ffe452;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 70px;
    background: #212529;
    height: 45vh;
    max-width: 250px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -70px;
    padding-left: 60px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 5px 0px #d29aff61;
  }

  .navbar .menu-items li {
    margin-bottom: 2rem;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

  /* --- Login Form --- */

  .login-form {
    overflow: scroll;
    display: grid;
    padding: 10px 0px;
  }

  /* --- Video Title --- */

  .video-text-wrapper {
    padding-bottom: 0rem;
    padding-left: 0.1rem;
  }

  video {
    width: 98vw;
  }

  svg {
    width: 98vw;
  }

  svg text {
    font-size: clamp(2rem, 15vw, 16vw);
    font-weight: 800;
  }

  /* --- Portrait Cards --- */

  .flip-container {
    padding: 0rem 2rem;
  }

  .flip-container-cards {
    margin: 5rem 0rem;
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6,
  .card-7,
  .card-8 {
    width: 30vh;
    height: 45vh;
    margin: 0rem 2rem 0rem 3rem;
  }

  .card-front {
    font-size: 1.5rem;
    padding: 1rem;
    border: 2px solid var(--color-black);
    border-radius: 1px;
  }

  .portrait {
    box-shadow: 1px 1px 10px var(--color-purple);
  }

  .portrait-text {
    margin-bottom: 0.8em;
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 1.5rem;
    text-shadow: 1px 1px 2px var(--color-purple);
  }

  .card-back {
    font-size: 1.2rem;
    font-weight: 500;
    text-shadow: 2px 2px 2px var(--color-purple);
    border: 2px solid var(--color-black);
  }

  /* ---- Tickes Banner ---- */

  .container-onsale {
    justify-content: space-evenly;
    margin: 2rem 0rem;
    padding: 1rem 0rem;
    gap: 2rem;
  }

  .text-onsale {
    font-weight: 800;
    font-size: 1.3rem;
  }

  .button-onsale {
    font-size: 0.7rem;
    font-weight: 600;
    padding: 0.2rem 0.4rem;
    text-shadow: 2px 2px 2px var(--color-purple);
  }

  .button-onsale:hover {
    text-shadow: 1px 1px 2px var(--color-purple);
  }

  /* ---- Grid Content ---- */

  .container-grid {
    height: 200rem;
    margin: 0.1rem;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.3fr 3fr 2fr 2fr 2fr 2.5fr;
    grid-gap: 0.5rem;
    grid-template-areas:
      "header-grid header-grid"
      "sidebar-grid main-grid"
      "sidebar-grid content-grid-1"
      "content-grid-2 content-grid-2"
      "content-grid-3 content-grid-3"
      "footer-grid footer-grid";
  }

  /* ---- Header Grid ---- */

  .header-grid {
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
  }

  /* ---- Sidebar Grid ---- */

  .comments-section {
    height: 40vh;
  }

  .comments-wrap {
    height: 10%;
  }

  .container-off-topic {
    height: 65vh;
  }

  .off-topic-links {
    display: flex;
    flex-direction: column;
  }

  /* Content Grid 1 */

  .interview-text {
    overflow: auto;
    height: 30vh;
  }

  .interview-text p {
    text-align: start;
  }

  .interview-text h2 {
    margin-bottom: 6rem;
  }

  .eva-interview {
    margin: 0rem 1rem 0rem 2rem;
  }

  /* Content Grid 2 */

  .music-list-section ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
    padding: 1rem;
    height: 32vh;
    line-height: 1;
  }

  /* Content Grid 3 */

  .content-grid-3 {
    overflow: auto;
  }

  .container-giveaway {
    height: 32vh;
    line-height: 2;
  }

  /* ---- Footer Grid ---- */

  .footer-grid h1 {
    margin-bottom: 1rem;
  }

  .container-videoclip {
    flex-direction: column;
    align-items: center;
  }
  /* ---- Brand Section ---- */

  .container-brand {
    padding: 3rem 0rem;
    margin: 5rem 4rem;
  }

  .item-brand {
    grid-row-gap: 100px;
  }

  /* ---- Footer ---- */

  .footer-information {
    height: 40vh;
    display: flex;
    flex-direction: column;
  }

  .footer-sign {
    margin: 0rem;
  }

  .footer-sign {
    text-align: center;
  }

  .footer-menu-link {
    line-height: 1;
  }
}

@media (max-width: 27rem) {
  .mtv-navbar {
    display: flex;
    position: relative;
    object-position: top;
    float: right;
    margin-top: 12px;
    margin-right: 10px;
    width: 22%;
  }

  .navbar .menu-items {
    height: 60vh;
  }

  /* --- Wallpaper --- */

  .navbar .menu-items li {
    margin-bottom: 1rem;
  }

  .img-wallpapper-sm {
    max-width: 100%;
    height: auto;
    display: inline-block;
  }

  .img-wallpapper-lg {
    display: none;
  }

  .img-wallpapper-two {
    width: 100%;
    height: auto;
    display: unset;
  }

  /* --- Login Form --- */
  input {
    width: 100%;
  }

  svg text {
    font-size: clamp(1rem, 15vw, 20vw);
  }

  /* --- Portrait Cards --- */

  .flip-container {
    padding: 0rem 0rem;
    scroll-snap-type: block;
  }

  .flip-container-cards {
    margin: 5rem 0rem;
  }

  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6,
  .card-7,
  .card-8 {
    width: 30vh;
    height: 45vh;
    margin-left: 2rem;
  }

  .card-front {
    font-size: 1.5rem;
    padding: 1rem;
    border: 2px solid var(--color-black);
    border-radius: 1px;
  }

  .portrait {
    box-shadow: 1px 1px 10px var(--color-purple);
  }

  .portrait-text {
    margin-bottom: 0.8em;
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 1.5rem;
    text-shadow: 1px 1px 2px var(--color-purple);
  }

  .card-back {
    font-size: 1.2rem;
    font-weight: 500;
    text-shadow: 2px 2px 2px var(--color-purple);
    border: 2px solid var(--color-black);
  }
  .card-5 {
    margin-right: 1rem;
  }

  /* ---- Grid Content ---- */

  .container-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr minmax(30vh, 1fr) minmax(40vh, 1fr) 7fr 7fr 7fr 5fr;
    grid-gap: 0.5rem;
    grid-template-areas:
      "header-grid"
      "main-grid"
      "sidebar-grid"
      "content-grid-1"
      "content-grid-2"
      "content-grid-3"
      "footer-grid";
  }

  /* ---- Header ---- */

  .header-grid {
    padding: 1rem;
  }

  /* ---- Footer ---- */

  .footer-information {
    max-width: 100%;
    height: 40vh;
    font-weight: 400;
    font-size: 1rem;
  }

  .footer-sign {
    text-align: center;
    margin: 0rem;
  }

  .footer-subscribe-container form {
    display: flex;
    flex-direction: column;
  }

  .footer-subscribe-container input {
    width: 15rem;
  }

  .footer-subscribe-container button {
    margin: 1rem;
  }

  .footer-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-menu-link {
    text-decoration: none;
    color: var(--color-white);
    line-height: 1.2;
  }
}
